ChatBot20.xcodeproj/project.xcworkspace/xcuserdata/mikita.xcuserdatad/UserInterfaceState.xcuserstate
ChatBot20.xcodeproj/project.xcworkspace/xcuserdata/mikita.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
ChatBot20/Resorces/Assets.xcassets/RolplayGallery/.DS_Store
